<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="/assets/css/burger_style.css"  type='text/css'/>
		<title>Burger Game!</title>
	</head>
	<body>
        <script>console.log("Inside main.handlebars!");</script>
		<header>
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr06/2013/5/28/12/enhanced-buzz-orig-18154-1369756985-24.jpg"
                 alt="Burger" height="300" width="400">
			<h1>Eat-Da-Burger!</h1>
		</header>
		{{{ body }}}
        <br>
        <div>
            <p>Enter a burger you want to eat. Click the 'Submit' button</p>
        </div>

		<footer>
			<h2>Copyright Larry S. Peteet 2017</h2></h2>
		</footer>
	</body>

</html>
