<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/burger_style.css"  type='text/css'/>
		<title>Burger Game!</title>
	</head>
	<body>
        <script>console.log("Inside main.handlebars!");</script>
		<header>
            <img src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr06/2013/5/28/12/enhanced-buzz-orig-18154-1369756985-24.jpg"
                 alt="Burger" height="300" width="400">
			<h1>Eat-Da-Burger!</h1>
		</header>
		{{{ body }}}
        <br>
        <div>
            <h4>Enter a burger you want to eat. Click the 'Submit' button</h4>
        </div>

		<footer class="footer">
			<h3>Copyright Larry S. Peteet 2017</h3>
		</footer>
	</body>

</html>
